body{
    background-color: mediumblue;
    font-size: 30px;
    color: aliceblue;
}
h1{
    text-align: center;
}
img{
    width: 48%;
    display: block;
    margin: auto;
    padding: 50px;
    border: darkred;
  
}

