body{
    background-color: mediumblue;
    font-size: 30px;
    color: aliceblue;
}

h1{
    text-align: center;
}

img{
    padding: 50px;
    border: darkred;
}

.imgretrato{
    width: 300px;
}

.imgpaisagem{
    width: 100px;
}