body{
    background-color: mediumblue;
    font-size: 30px;
    color: aliceblue;
}

h1{
    text-align: center;
}

.imgretrato{
    width: 100px;
}

.imgpaisagem{
    width: 800px;
}